h1 {
	text-align: center;
	font-size: 4em;
	color: black;
	padding: 1em;
	border:10px solid #8393E2;
	
}
h2{
	margin-right: 25%;
	color: rgb(102,97,255);
}
div{
	margin-top: 2%;
	margin-bottom: 2%;
}

@-webkit-keyframes pulse {
 from {
	opacity: 1;
	color: red;
 }
 to {
	opacity: 0.7;
	color: blue;
   
 }
}

#cabecera{
	text-align: center;
	font-size:2em;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
}


body { 
	margin-top: 2%;
	margin-right: 20%;
	margin-bottom: 5%;
	margin-left: 10%;
	color: black;
	
	font-family: miFuente;
    font-size: 100%;
	overflow:hidden;
	padding: 1em;
    background: rgb(255,255,228)
}
ul {
	border: 3px solid #8393E2;
	padding-left:15%;
	padding-right:15%;
	font-size:1.3em;
}
li{
	margin-top: 2%;
	margin-right: 10%;
	margin-bottom: 5%;
	margin-left: 10%;
	color: black;
}

footer{
	font-size: 1.2em;
	text-align: center;
	color:black;
}

#formulario {
   width: 430px; 
   margin: 60px auto; 
   padding: 60px 30px;
   background: #eee; 
   border: 3px solid #8393E2;
   align:center;
   }


/*estilo correspondiente al slider*/
/*Se crea una ventana visible donde se visualizará la imagen que mostremos en cada momento*/
.scrollable {
    width: 500px;
    margin: 0 auto;
    padding: 0;
    background: #000;
    position: relative;
    overflow: hidden;
    text-align: center;
	border: 10px solid #8393E2;
	box-shadow: 10px 10px 5px #888888;
}
img {
    max-width: 500px;
    margin: 0;
    float:left;
}
/*Por detrás en todo momento "están" todas las imagenes aunque solo se vea una*/
.items {
    width:3500px;
	animation: hscroll 42s infinite;
    -webkit-animation: hscroll 42s infinite;
}
/*Con unos desplazamientos temporizados se va desplazando la sucesión de imagenes para dejar dentro de la ventana visible solo una*/
@keyframes hscroll {
	0% { margin-left: 0; }
	7.14%  { margin-left: 0 }
	14.28%  { margin-left: -500px; }
	21.42% { margin-left: -500px; }
	28.56% { margin-left: -1000px; }
	35.7% { margin-left: -1000px; }
	42.84% { margin-left: -1500px; }
	49.98% { margin-left: -1500px; }
	
	57.12% { margin-left: -2000px; }
	64.26% { margin-left: -2000px; }
	71.4% { margin-left: -2500px; }
	78.54% { margin-left: -2500px; }
	85.68% { margin-left: -3000px; }
	92.82% { margin-left: -3000px; }
	100%  { margin-left: 0 }
}

@-webkit-keyframes hscroll {
 0% { margin-left: 0; }
	7.14%  { margin-left: 0 }
	14.28%  { margin-left: -500px; }
	21.42% { margin-left: -500px; }
	28.56% { margin-left: -1000px; }
	35.7% { margin-left: -1000px; }
	42.84% { margin-left: -1500px; }
	49.98% { margin-left: -1500px; }
	57.12% { margin-left: -2000px; }
	64.26% { margin-left: -2000px; }
	71.4% { margin-left: -2500px; }
	78.54% { margin-left: -2500px; }
	85.68% { margin-left: -3000px; }
	92.82% { margin-left: -3000px; }
	100%  { margin-left: 0 }
}
/*Estilo para crear un botón personalizado con un efecto al pasar sobre él*/
.boton{
    background:#0D98FB; 
    background-image: -webkit-linear-gradient(top,#0D98FB,#1A5DB3);
    background-image: -moz-linear-gradient(top,#0D98FB,#1A5DB3);
    background-image: -o-linear-gradient(top,#0D98FB,#1A5DB3);  
    background-image: linear-gradient(to bottom,#0D98FB,#1A5DB3);   
    border: 1px solid #125CB5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;  
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #71C0FD inset;
    -webkit-box-shadow: 0 1px 1px #71C0FD inset;
    -o-box-shadow: 0 1px 1px #71C0FD inset; 
    box-shadow: 0 1px 1px #71C0FD inset;
    padding: .8em 1.8em;
    color: white;
    font-weight:normal;
    text-decoration:none;
}
.boton:hover {
    background:#1A5DB3;
    background-image: -webkit-linear-gradient(bottom,#0D98FB,#1A5DB3);
    background-image: -moz-linear-gradient(bottom,#0D98FB,#1A5DB3);
    background-image: -o-linear-gradient(bottom,#0D98FB,#1A5DB3);   
    background-image: linear-gradient(to top,#0D98FB,#1A5DB3);
    cursor: pointer;
}


